DATABASE_URL=postgresql://postgres:senha@localhost:5432/webgis
PGSSLMODE=require
JWT_SECRET=troque-esta-chave
CAMADAS_EXTERNAS_JSON=[]
SHAPEFILES_DIR=C:\Users\Murilo Tavares\Desktop\DADOS AMBIENTAIS
CREATE_TEST_USER=false
